<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head', { title }); %>
  </head>
  <body>
    <%- include('partials/navbar', { auth }); %>
    <div class="container">
      <!-- center text -->

      <h1 class="text-center mt-5 w-50 mx-auto lh-lg">GROUP B BIOMETRIC AUTHENTICATION SYSTEM</h1>
    </div>
  </body>
</html>
