<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head', { title }); %>
  </head>
  <body>
    <%- include('partials/navbar', { auth }); %>
    <!-- <div class="container"> -->
      <!-- center text -->

      <div class="d-flex justify-content-center mt-1">
        <img src="/GGG.jpg" alt="logo 1" class="img-thumbnail w-75">
        <!-- <img src="/logo_2.jpg" alt="logo 2" class="img-thumbnail w-25">
        <img src="/logo_2.jpg" alt="logo 2" class="img-thumbnail w-25"> -->
      <!-- </div>
      <h1 class="text-center mt-5 lh-lg">EME CCC 37/24/001B FINGERPRINT SECURITY AUTHENTICATION SYSTEM</h1> -->
    </div>
  </body>
</html>
